#items_list{
    display: flex;
    flex-wrap: wrap;

}
.card{
    width: 200px;
    border: 1px solid silver;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
} 
